
body, button, input {
    font-family: 'Delius Unicase', cursive;
}

body {
    background-image: url('https://media4.giphy.com/media/52FmBYOsnO4qYS7QsZ/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: rgb(81, 109, 161);
}

h1, h2, section, main, div {
    text-align: center;
}

h1, h2 {
    color: rgb(189, 4, 4);
}

label {
    font-size: 1.2rem;
    color: white;
}